 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 154px 43px 0 100px;
}

.u-section-1 .u-text-2 {
  margin: 41px 56px 54px 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 115px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 78px;
  margin: 27px -20px 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    margin: 37px -70px 0 70px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 149px;
  margin: 28px -343px 0 343px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 149px;
  margin: 68px 781px 60px 181px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-top: 39px;
    margin-right: -238px;
    margin-left: 238px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
    margin-top: 57px;
    margin-right: 681px;
    margin-left: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: 34px;
    margin-right: -155px;
    margin-left: 155px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 62px;
    margin-right: 542px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 147px;
    margin-left: 15px;
  }
}