 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1350px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin: 121px auto 0;
  padding: 19px 59px 20px 58px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin: 18px auto 0;
  padding: 19px 59px 20px 58px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin: 18px auto 0;
  padding: 19px 59px 20px 58px;
}

.u-section-1 .u-image-1 {
  height: 578px;
  width: 1488px;
  margin: 331px auto 60px -185px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-1 {
    height: 368px;
    margin-top: 234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-image-1 {
    height: 281px;
    margin-top: 281px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-1 {
    height: 210px;
    margin-top: 331px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 29px;
    padding-left: 28px;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-top: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 124px;
    margin-top: 77px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}